<div class="movie-page">
	
	<% if !@result.nil? %>
		<div id="poster">
		<%= image_tag(@result[0].posters.original, size: "300x175") %>
		</div>

		<div id="movie-title">
		<%= @result[0].name %>
		</div>

		<div id="stats">
		<%= @result[0].year %> <%= @result[0].mpaa_rating %> <%= @result[0].runtime %> minutes
		</div>
	
		<div id="synopsis">
		<%= @result[0].synopsis.empty? ? "Synopsis is not available for this film." : @result[0].synopsis %>
		</div>
	
		<ul id="reviews">
			<b><u>Reviews</u></b>
		<% @result[0].reviews.each do |i| %>
		<li><%= link_to("#{i.critic}: #{i.publication} (#{i.date})", i.links["review"], target: "_blank") %></li>
		<% end %>
		</ul>
	<% end %>
	
	<div id="sign-in">
		<% if current_user.nil? %>
			<%= link_to "Want to leave a review? Sign in with Facebook.", '/auth/facebook' %>
			<% else %>
			<%= link_to "Sign out", signout_path %>
			<% end %>
	</div>
</div>

