<div class="movie-page">
	
	<% if !@result.nil? %>
		<div id="poster">
		<%= image_tag(@result.poster, size: "300x175") %>
		</div>

		<div id="movie-title">
		<%= @result.title %>
		</div>

		<div id="stats">
		<%= @result.year %> <%= @result.mpaa_rating %> <%= @result.runtime %> minutes
		</div>
	
		<div id="synopsis">
		<%= @result.synopsis.empty? ? "Synopsis is not available for this film." : @result.synopsis %>
		</div>
	
		<ul id="reviews">
			<b><u>Reviews</u></b>
		<% @result.comments.each do |i| %>
		<li><%= link_to("#{i.critic}: #{i.publication} (#{i.date})", i.url, target: "_blank") %></li>
		<% end %>
		</ul>
	<% end %>
	
	<div id="sign-in">
		<% if current_user.nil? %>
			<%= link_to "Want to leave a review? Sign in with Facebook.", '/auth/facebook' %>
			<% else %>
			<div id="sign-out">
				<%= link_to "Sign out", signout_path %>
			</div>
			<div id="profile-info">
				<%= image_tag(current_user.image) %>
				<%= current_user.name %><br>
			</div>
			<% end %>
	</div>
</div>

